{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Ideani Hangonratapihalle' %}</h1>
    <p>
        <b>
            {% trans 'Merkitse kartalle ajatuksiasi ja ideoitasi suunnittelualueesta' %}
        </b>
    </p>
    <p>{% trans 'Käytä karttaa samaan tapaan kuin aikaisemmin.' %}</p>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <div id="removegraphicsbutton" onclick="togglegraphicsbutton()">
        <span id="hidebutton">{% trans 'Piilota omat kohteet' %}</span>
        <span class="tyhja" id="showbutton">{% trans 'Näytä omat kohteet' %}</span>
    </div>
    <form id="ideasForm" name="ideasForm">
        <table class="buttons">
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Uutta asuntorakentamista' %}
                    <ul>
                        <li>{% trans 'Millainen asuinrakentaminen sopisi alueelle?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="work" name="work"></button>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Uutta palvelurakentamista' %}
                    <ul>
                        <li>{% trans 'Minne alueella tarvittaisiin palveluita?' %}</li>
                        <li>{% trans 'Mitä palveluita toivoisit?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="shop" name="shop"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Uusi kävely- tai pyöräilyreitti' %}
                    <ul>
                        <li>{% trans 'Millaisia reittejä toivot alueelle? ' %}</li>
                        <li>{% trans 'Miten reitit voisivat yhdistyä alueen ulkopuolella sijaitseviin paikkoihin?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="business" name="business"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Uusi bussireitti' %}
                    <ul>
                        <li>{% trans 'Tuleeko jokin bussireiteistä linjata toisin?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="exercise" name="exercise"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Uusi virkistysalue' %}
                    <ul>
                        <li>{% trans 'Mitkä paikat alueella tulisi säilyttää tai muuttaa virkistysalueiksi?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="freetime" name="freetime"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Säilytettävä paikka' %}
                    <ul>
                        <li>{% trans 'Onko suunnittelualueella paikkoja, joihin ei saisi kajota?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="" name="freetime"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Kohennettava paikka' %}
                    <ul>
                        <li>{% trans 'Onko alueella tai sen lähellä paikkoja, joita tulisi erityisesti kohentaa?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="" name="freetime"></button>
                    <div id=""></div>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd">
                    {% trans 'Muu idea' %}
                    <ul>
                        <li>{% trans 'Mitä muuta toivoisit alueelle?' %}</li>
                    </ul>
                </td>
                <td class="topAlign">
                    <button type="button" class="imagebutton" id="otherplace" name="otherplace"></button>
                    <div id=""></div>
                </td>
            </tr>
        </table>
    </form>
{% endblock formarea %}