{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Ideani Hangonratapihalle' %}</h1>
    <p>
        <b>
            {% trans 'Merkitse kartalle ajatuksiasi ja ideoitasi suunnittelualueesta' %}
        </b>
    </p>
    <p>{% trans 'Käytä karttaa samaan tapaan kuin aikaisemmin.' %}</p>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <div id="removegraphicsbutton" onclick="togglegraphicsbutton()">
        <span id="hidebutton">{% trans 'Piilota omat kohteet' %}</span>
        <span class="tyhja" id="showbutton">{% trans 'Näytä omat kohteet' %}</span>
    </div>
    <form id="ideasForm" name="ideasForm">
        <table class="buttons">
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton point" id="res_build" name="ideas">{% trans 'Uutta asuntorakentamista' %}</button>
                    
                    <ul>
                        <li>{% trans 'Millainen asuinrakentaminen sopisi alueelle?' %}</li>
                    </ul>
                </td>
                
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton point" id="ser_build" name="ideas">{% trans 'Uutta palvelurakentamista' %}</button>
                    
                    <ul>
                        <li>{% trans 'Minne alueella tarvittaisiin palveluita?' %}</li>
                        <li>{% trans 'Mitä palveluita toivoisit?' %}</li>
                    </ul>
                </td>
                
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton route" id="new_walking_route" name="ideas">{% trans 'Uusi kävely- tai pyöräilyreitti' %}</button>
                    
                    <ul>
                        <li>{% trans 'Millaisia reittejä toivot alueelle? ' %}</li>
                        <li>{% trans 'Miten reitit voisivat yhdistyä alueen ulkopuolella sijaitseviin paikkoihin?' %}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton route" id="new_transport_route" name="ideas">{% trans 'Uusi bussireitti' %}</button>
                    
                    <ul>
                        <li>{% trans 'Tuleeko jokin bussireiteistä linjata toisin?' %}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton area" id="new_recreation_area" name="ideas">{% trans 'Uusi virkistysalue' %}</button>
                    
                    <ul>
                        <li>{% trans 'Mitkä paikat alueella tulisi säilyttää tai muuttaa virkistysalueiksi?' %}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton point" id="preserve_place" name="ideas">{% trans 'Säilytettävä paikka' %}</button>
                    
                    <ul>
                        <li>{% trans 'Onko suunnittelualueella paikkoja, joihin ei saisi kajota?' %}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton point" id="improve_place" name="ideas">{% trans 'Kohennettava paikka' %}</button>
                    
                    <ul>
                        <li>{% trans 'Onko alueella tai sen lähellä paikkoja, joita tulisi erityisesti kohentaa?' %}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="moveEnvTd" colspan="2">
                    <button type="button" class="drawbutton point" id="otherplace" name="ideas">{% trans 'Muu idea' %}</button>
                    
                    <ul>
                        <li>{% trans 'Mitä muuta toivoisit alueelle?' %}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </form>

{% endblock formarea %}