{% extends 'example/html/move_env_info.html' %}
{% load i18n %}
{% block what_kind_place %}
{% spaceless %}
    <tr>
        <td><b>{% trans 'Minkätyyppinen tämä' %} ${% templatetag openbrace %}typetext{% templatetag closebrace %} {% trans 'on?' %}</b>

        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_1' value='bank' />
            <label for='me1_1'>${type1}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_2' value='health' />
            <label for='me1_2'>${type2}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_3' value='hairddres_etc' />
            <label for='me1_3'>${type3}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me_other' value='other' />
            <label for='me_other'>${type4}</label>
            <span id='otherSpan' class='tyhja'>
                <label for='other_text'>, {% trans 'mikä' %}?</label>
                <input type='text' name='otherbusin' id='other_text' disabled='disabled' />
            </span>
        </td>
    </tr>
{% endspaceless %}
{% endblock what_kind_place %}
