{% extends 'example/html/move_env_info.html' %}
{% load i18n %}
{% block what_kind_place %}
{% spaceless %}
    <tr>
        <td><b>{% endspaceless %}{% trans 'Minkätyyppinen tämä ${typetext} on?' %}{% spaceless %}</b></td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_1' value='grocery' />
            <label for='me1_1'>${type1}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_2' value='supermarket' />
            <label for='me1_2'>${type2}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_3' value='shoppingcentre' />
            <label for='me1_3'>${type3}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_4' value='specialshop' />
            <label for='me1_4'>${type4}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me_other' value='other' />
            <label for='me_other'>${type5}</label>
            <span id='otherSpan' class='tyhja'>
                <label for='other_text'>, {% trans 'mikä' %}?</label>
                <input type='text' name='othershop' id='other_text' disabled='disabled' />
            </span>
        </td>
    </tr>
{% endspaceless %}
{% endblock what_kind_place %}
