{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Hyvinkään helmi' %}</h1>
    <p>
        <b>
            {% trans 'Merkitse kartalle paikka kodin ulkopuolelta, joka on mielestäsi erityisen tärkeä ja hieno.' %}
        </b>
    </p>
    <p>{% trans 'Tee näin:' %}</p>
    <ol>
        <li>{% trans 'Etsi kartalta oikea paikka.' %} <span class="spanLink" onclick="submitForm();createsubwindow('mapanimation');">{% trans 'Ohje' %}</span></li>
        <li>{% trans 'Valitse alla oleva piste-työkalu.' %}</li>
        <li>{% trans 'Klikkaa karttaa paikan kohdalla.' %}</li>
        <li>{% trans 'Tallenna kohde' %}</li>
    </ol>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <form id="pearlForm" name="pearlForm" >
        <button type="button" class="pearl drawbutton point" id="pearl_p" name="pearl">{% trans "Hyvinkään helmi" %}</button>
    </form>
{% endblock formarea %}