{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <form id="weightsForm" name="weightsForm">
        <fieldset>
            <h1>{% trans 'Suunnittelun painopiste' %}.</h1>
            <p>
                <b>
                    {% trans 'Kuinka tärkeänä pidät seuraavia neljää näkökulmaa alueen suunnittelussa?' %}
                </b>
            </p>

            {% for text, val in values %}
                <p>
                    <b>{{ text }}:</b>
                </p>
                <table>
                    <tr>
                        <td class="smallvalue value">
                            <b>{% trans 'ei kovin tärkeä minulle' %}</b>
                        </td>
                        <td class="bigSlider">
                            <input type="range" name="{{ val }}" />
                        </td>
                        <td class="bigvalue value">
                            <b>{% trans 'erittäin tärkeä minulle' %}</b>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </fieldset>
    </form>
{% endblock formarea %}