{% spaceless %}
<div class='button saveShort' onclick='submitInfoForm(\"info\",\"${valuename}\");map.infoWindow.hide()'>
    <span class='saveText'>${close}</span>
</div>
<p style='margin:0'>
{% if type == 'route' %}
        <span style='color:#36A8D5;text-decoration:underline;' onclick='removeGraph(\"${id}\");map.infoWindow.hide()'>${polylineremove}</span>
    {% else %}
        <span style='color:#36A8D5;text-decoration:underline;' onclick='removeGraph(\"${id}\");map.infoWindow.hide()'>${remove}</span>
{% endif %}
</p> 
{% endspaceless %}