{% spaceless %}
<div class='button saveLong' onclick='confirm(\"${id}\",true);submitInfoForm(\"info\",\"${valuename}\");map.infoWindow.hide()'>
{% if type == 'route' %}
    <span class='saveText'>${polylinepositive}</span>
{% else %}
    <span class='saveText'>${save}</span>
{% endif %}        
</div>
<p style='margin:0'>
{% if type == 'route' %}
    <span style='color:#36A8D5;text-decoration:underline;' onclick='confirm(\"${id}\", false);map.infoWindow.hide()'>${polylinenegative}</span>
{% else %}
    <span style='color:#36A8D5;text-decoration:underline;' onclick='confirm(\"${id}\", false);map.infoWindow.hide()'>${remove}</span>
{% endif %}        
</p>
{% endspaceless %}
