{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <form id="appreciateForm">
        <h1>{% trans 'Minkälaisia asioita juuri sinä arvostat asukkaana?' %}</h1>
        <table>
            {% for id, left, right in values %}
            <tr>
                <td class="smallvalue">
                {{ left }}
                </td>
                <td class="narrowSlider">
                    <div id="{{ id }}" class="pehmoSlider"></div>
                    <div id="{{ id }}Rule"></div>
                </td>
                <td class="bigvalue">
                {{ right }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock formarea %}
