{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Tärkeät kävely- ja pyöräilyreittini' %}</h1>
    <p>
        <b>
            {% blocktrans %}
                Merkitse kartalle usein käyttämiäsi miellyttäviä ja epämiellyttäviä jalankulku- ja pyöräilyreittejä.
                Voit merkitä niin monta reittiä kuin haluat.
            {% endblocktrans %}
        </b>
    </p>
    <p>{% trans 'Tee näin:' %}</p>
    <ol>
        <li>{% trans 'Etsi kartalta reitti, jonka haluat merkitä' %}. <span class="spanLink" onclick="submitForm();createsubwindow('routeanimation');">{% trans 'Ohje' %}</span></li>
        <li>{% trans 'Valitse alla oleva reitti -työkalu' %}.</li>
        <li>{% trans 'Merkitse reitti hiirellä klikkailemalla'%}. {% trans 'Lopeta piirto tuplaklikkaamalla hiirellä' %}.</li>
        <li>{% trans 'Tallenna reitti' %}.</li>
    </ol>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <div id="removegraphicsbutton" onclick="togglegraphicsbutton()">
        <span id="hidebutton">{% trans 'Piilota omat kohteet' %}</span>
        <span class="tyhja" id="showbutton">{% trans 'Näytä omat kohteet' %}</span>
    </div>
    <form id="importantRoutesForm" name="importantRoutesForm">
        <button type="button" class="imagebutton" id="importantroute" name="importantroute"></button>
    </form>
{% endblock formarea %}