{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Reittiehdotukset' %}</h1>
    <p>
        <b>
            {% blocktrans %}
                Voit ehdottaa kartalla uusia kevyen liikenteen reittejä tai joukkoliikenneyhteyksiä.
                Valitse ensin reittityökalu ja piirrä sitten reitti kartalle.
            {% endblocktrans %}
        </b>
    </p>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <div id="removegraphicsbutton" onclick="togglegraphicsbutton()">
        <span id="hidebutton">{% trans 'Piilota omat kohteet' %}</span>
        <span class="tyhja" id="showbutton">{% trans 'Näytä omat kohteet' %}</span>
    </div>
    <form id="improvementsForm" name="improvementsForm">
        <button type="button" class="imagebutton" id="new_improve_route" name="new_improve_route"></button>
        <button type="button" class="imagebutton" id="new_transport_route" name="new_transport_route"></button>
    </form>
{% endblock formarea %}