{% load i18n %}
{% spaceless %}
{% block form %}

<form id='info' name='${NIMI:cleanScands}'>
    <div id='stackCont'>
    <div id='page1'>
    <table class='infotable'>
        <tr>
            <td colspan='2' class='Picture'>
                <img alt='${NIMI}'src='{{ STATIC_URL }}img/placeInfos/${NIMI:cleanScands}_200.png' />
            </td>
        </tr>
        <tr class='desc'>
            <td>${KUVAUS_{{ LANGUAGE_CODE|slice:":2"|upper }}}</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <button type='button' class='stackNext' id='infoStackNext' >{% trans 'Arvioi aluetta' %}</button>
    <p style='margin:0;'>
        <span style='color:#36A8D5;text-decoration:underline;' onclick='map.infoWindow.hide();'>{% trans 'Sulje ikkuna' %}</span>
    </p>
    </div>
    <div id='page2'>
        <table class='infotable'>
           <tr>
               <td colspan='7'><h2>{% trans 'Alueen arviointi' %}</h2></td>
           </tr>
           <tr>
               <td colspan='7' class='question'>{% trans 'Kuinka kiinnostavaksi arvioit tämän alueen?' %}</td>
           </tr>
           <tr>
                <td rowspan='2' >{% trans 'ei lainkaan kiinnostava' %}</td>
                <td>{% trans '1' %}</td>
                <td>{% trans '2' %}</td>
                <td>{% trans '3' %}</td>
                <td>{% trans '4' %}</td>
                <td>{% trans '5' %}</td>
                <td rowspan='2' >{%trans 'erittäin kiinnostava' %}</td>
           </tr>
           <tr>
<!--               <td>&nbsp;</td>-->
               <td class='centerAlign'>
                   <input type='radio' name='area_interest' value='1' />
               </td>
               <td class='centerAlign'>
                   <input type='radio' name='area_interest' value='2' />
               </td>
               <td class='centerAlign'>
                   <input type='radio' name='area_interest' value='3' />
               </td>
               <td class='centerAlign'>
                   <input type='radio' name='area_interest' value='4' />
               </td>
               <td class='centerAlign'>
                   <input type='radio' name='area_interest' value='5' />
               </td>
               <!--<td>&nbsp;</td>-->
           </tr>
           <tr>
               <td colspan='7' class='question'>{% trans 'Mitkä seikat vaikuttivat antamaasi arvioon?' %}</td>
           </tr>
           <tr>
               <td colspan='7' >
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_1' value='location' />
                    <label for='what_things_eval_1'>{% trans 'alueen sijainti kaupunkirakenteessa' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_2' value='services' />
                    <label for='what_things_eval_2'>{% trans 'alueelle suunnitellut palvelut' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_3' value='atmosphere' />
                    <label for='what_things_eval_3'>{% trans 'alueesta välittyvä tunnelma' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_4' value='size' />
                    <label for='what_things_eval_4'>{% trans 'alueen koko ja rakenne' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_5' value='greenSpace' />
                    <label for='what_things_eval_5'>{% trans 'viheralueiden läheisyys' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_6' value='publicTrans' />
                    <label for='what_things_eval_6'>{% trans 'alueen joukkoliikennepalvelut' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_7' value='exercise' />
                    <label for='what_things_eval_7'>{% trans 'alueen sijainti suhteessa omiin liikkumistarpeisiin' %}</label><br />
                    <input type='checkbox' name='what_things_eval' id='what_things_eval_8' value='other' />
                    <label for='what_things_eval_8'>{% trans 'muu' %}</label>
                    <span id='otherThingsSpan' class='tyhja'>
                        <label for='other_things'>, {% trans 'mikä?' %}</label><br />
                        <textarea name='other_things' id='other_things' rows='2' cols='20' disabled='disabled'></textarea>
                    </span>
               </td>
           </tr>
        </table>
        <button type='button' class='stackNext' id='infoStackPrev' >{% trans 'Palaa' %}</button>
{% block save_close_button %}
        <div class='button saveLong' onclick='submitAreaForm(\"info\");map.infoWindow.hide()'>
            <span class='saveText'>{% trans 'Tallenna arvio' %}</span>
        </div>
        <p style='margin:0;'>
            <span style='color:#36A8D5;text-decoration:underline;' onclick='submitAreaForm(\"info\", true);map.infoWindow.hide();'>{% trans 'Poista arvio' %}</span>
        </p>
{% endblock save_close_button %}
    </div>
    </div>

</form>

{% endblock form %}
{% block remove_button %}
<p style='margin:0;'>
    <span style='color:#36A8D5;text-decoration:underline;' onclick='map.infoWindow.hide();'>{% trans 'Poista arvio' %}</span>
</p>
{% endblock remove_button %}
{% endspaceless %}