{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <form id="appreciateForm" name="appreciateForm">
        <h1>{% trans 'Minkälaisia asioita juuri sinä arvostat asukkaana?' %}</h1>
        <table>
            {% for name, left, right in values %}
            <tr>
                <td class="smallvalue">
                {{ left }}
                </td>
                <td class="narrowSlider">
                    <input type="range" name="{{ name }}" />
                </td>
                <td class="bigvalue">
                {{ right }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock formarea %}
