{% extends 'html/instructions_base.html' %}
{% load i18n %}
{% block answering_links %}
<h3 style="margin-bottom: -20px;">
<strong>{% trans 'Kyselyyn vastaaminen' %}</strong>
</h3>
<ul>
    <li>
        <a href="#et">{% trans 'eteneminen' %}</a>
    </li>
</ul>
{% endblock answering_links %}
{% block usage_links %}
    <h3 style="margin-bottom: -20px;">
    <strong>{% trans 'Kartan käyttö' %}</strong>
    </h3>
    <ul>
        <li>
            <a href="#kali">{% trans 'kartalla liikkuminen' %}</a>
        </li>
        <li>
            <a href="#kalajalo">{% trans 'kartan lähennys ja loitonnus' %}</a>
        </li>
        <li>
            <a href="#naka">{% trans 'navigointikartan käyttö' %}</a>
        </li>
    </ul>
{% endblock usage_links %}
{% block drawing_links %}
<h3 style="margin-bottom: -20px;">
<strong>{% trans 'Kohteiden merkitseminen kartalle' %}</strong>
</h3>
<ul>
    <li>
        <a href="#kotamupime">{% trans 'pisteen merkitseminen' %}</a>
    </li>
    <li>
        <a href="#repika">{% trans 'reitin piirtäminen kartalle' %}</a>
    </li>
    <li>
        <a href="#alpika">{% trans 'alueen rajaaminen kartalle' %}</a>
    </li>
    <li>
        <a href="#kosimutapo">{% trans 'kohteen siirtäminen, muuttaminen tai poistaminen' %}</a>
    </li>
</ul>
{% endblock drawing_links %}
{% block answering %}
<tr>
    <td>
    <h2>
    <a name="et">{% trans 'Kyselyssä eteneminen' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% blocktrans %}
        Siirry seuraavaan kysymykseen
        <strong>Seuraava</strong>-painikkeella. Voit siirtyä takaisinpäin
        kyselyssä korjaamaan jo antamiasi vastauksia
        <strong>Edellinen</strong>-painikkeella tai yläpalkin navigaatiopalkin kautta.
        {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Kun pääset kyselyn loppuun, etkä enää halua muuttaa vastauksiasi, voit poistua kyselystä
        sulkemalla selaimen.
        {% endblocktrans %}
    </p>
    </td>
    <td>
    <img src="{{ STATIC_URL }}img/help/prev_next.png" alt="jatka- ja edellinen-painikkeet" width="207" height="60" />
    </td>
</tr>
{% endblock answering %}
{% block locating %}
    <tr>
        <td colspan="2">
        <p class="">
            {% blocktrans %}
            Kyselyssä merkitään kartalle pisteitä, alueita tai viivoja (reittejä). Toimintopainikkeen kuvake
            kertoo, minkälainen kohde on tarkoitus paikantaa.
            Esimerkiksi koti merkitään kartalle pisteenä, kulkureitit piirretään viivoina ja harrastusalueet rajataan alueina.
            {% endblocktrans %}
        </p>
        <p class="observe">
            <img src="{{ STATIC_URL }}img/help/point_button.png" alt="point_button" width="220" height="19" />
            <br />
            <img src="{{ STATIC_URL }}img/help/route_button.png" alt="route_button" width="220" height="19" />
            <br />
            <img src="{{ STATIC_URL }}img/help/area_button.png" alt="area_button" width="220" height="19" />
            <br />
            {% trans 'Kuva yllä: Esimerkit piste-, viiva- ja aluetyökaluista.' %}
        </p>
        </td>
    </tr>
{% endblock locating %}
{% block hide_marks %}
{% endblock hide_marks %}

{% block point_drawing %}
<tr>
    <td>
    <h2>
    <a name="kotamupime">{% trans 'Pistemäisen kohteen merkitseminen kartalle' %}</a>
    </h2>
    </td>
    <td/>
</tr>
    <tr>
        <td>
        <p class="">
            {% trans 'Pistemäisiä kohteita ovat esimerkiksi koti, kesämökki ja asiointipaikka.' %}
        </p>
        <p class="">
            <strong>{% trans 'Esimerkki pisteen merkitsemisestä kartalle:' %}</strong>
        </p>
        <ol>
            <li>
                {% trans 'Etsi aluksi kartalta kohteen sijainti.' %}
            </li>
            <li>
                <strong>{% trans 'Valitse piste-työkalu' %}</strong> {% trans 'klikkaamalla sitä hiirellä.' %}
                <br />
            <img src="{{ STATIC_URL }}img/help/point_button.png" alt="point_button" width="220" height="19" />
                <br />
                {% trans 'Klikatessasi piste-työkalu aktivoituu ja sen ulkoasu muuttuu:' %}
                <br />
            <img src="{{ STATIC_URL }}img/help/point_button_active.png" alt="point_button" width="220" height="19" />
            </li>
            <li>
                <strong>{% trans 'Klikkaa karttaa valitsemallasi kohdalla.' %}</strong> {% trans 'Piste sijoitetaan osoittamaasi kohtaan.' %}
            </li>
            <li>
                {% blocktrans %}
                    Näyttöön avautuu kyselyikkuna. Vastaa kyselyyn valitsemalla yksi vaihtoehto kunkin
                    kysymyksen alla esitetyistä vaihtoehdoista. Kyselyikkunan oikealla laidalla on
                    vierityspalkki, jota siirtämällä pääset ikkunassa alaspäin. Voit kertoa
                    lisätietoja kohteesta kirjoittamalla kyselyikkunan sisällä olevaan ruutuun:
                    Kerro lisää tästä paikasta.
                {% endblocktrans %}
                {% blocktrans %}
                <strong>Vahvista vastauksesi </strong> klikkaamalla painiketta
                "tallenna kohde".
                Mikäli piste meni väärään paikkaan, voit poistaa sen klikkaamalla "poista kohde".
                {% endblocktrans %}
            </li>
        </ol>
        </td>
        <td/>
    </tr>
{% endblock point_drawing %}

{% block evaluation %}

{% endblock evaluation %}

{% block researchers %}
<tr>
    <td>
    <h2>
    <a name="kytojatu">{% trans '' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p>
        {% blocktrans %}
            Tutkimus on osa Sosioekologisia työkaluja Vaara-Kainuun matkailualueiden
            suunnitteluun, VAAKA –hanketta . Hankkeen päätoteuttajana toimii Metsäntutkimuslaitos
            (Metla). Yhteistyötahoja ovat Metsähallitus ja Aalto-Yliopisto sekä paikalliset toimijat.
            Hanke rahoitetaan pääosin Euroopan aluekehitysrahastosta (EAKR) Kainuun elinkeino-,
            liikenne- ja ympäristökeskuksen myöntämällä rahoituksella. Muita rahoittajia ovat Metla,
            Metsähallitus, Aalto-yliopisto, Kainuun Etu Oy, Puolanka-Paljakka matkailuyhdistys ry,
            Ukkohalla oy, Puolangan kunta. 
        {% endblocktrans %}
    </p>
    <p >
        {% blocktrans %}
            VAAKA –hankkeessa kehitetään matkailualueiden suunnittelun tueksi uusi paikkatietoon
            perustuva toimintamalli, joka lisää maankäytön sosiaalista hyväksyttävyyttä, ekologista
            kestävyyttä ja matkailun vetovoimaisuutta Kainuussa. Hankkeen pilottialueet,
            Paljakka ja Ukkohalla, ovat suojelualueiden lähistöllä sijaitsevia matkailukeskuksia,
            joissa matkailuelinkeinon kasvu edellyttää kaavamuutosta tai ainakin alueen käytön
            pitkäaikaista linjausta. Haasteellista on mm. eri elinkeinojen tai erilaisten
            matkailumuotojen yhteensovittaminen tai eriyttäminen alueiden suunnittelussa ja kehittämisessä. 
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Hanke alkoi 10.10.2011 ja se päättyy 31.12.2013. 
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Lisätietoja:<br />
            <br />
            Projektikoordinaattori Katja Kangas (Metla)<br />
            Marketta Kyttä (Aalto Yliopisto) <br />
            Hankkeen tapahtumia voi seurata <a href="http://www.metla.fi/hanke/7476/index.htm">www-sivuiltamme</a>
            ja <a href="http://fi-fi.facebook.com/pages/VAAKA-hanke/259452194117673">Facebookista</a>.
        {% endblocktrans %}

    </p>
    </td>
    <td/>
</tr>
{% endblock researchers %}

{% block prizes %}
{% comment %}
<tr>
    <td>
    <h2>
    <a name="palkinnot">{% trans 'Arvonnan palkinnot' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
   </p>
    </td>
</tr>
{% endcomment %}
{% endblock prizes %}


{% block privacy_protection %}
<tr>
    <td>
    <h2>
    <a name="ti">{% trans 'Tietosuoja' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% blocktrans %}
       {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Tutkimuksessa ei käsitellä henkilötietolain piiriin kuuluvia tietoja (kuten osoitteita, nimiä
        tai henkilötunnuksia). Tutkimuksesta on kuitenkin laadittu
        Tietosuojavaltuutetun ohjeiden mukainen tieteellisen tutkimuksen rekisteriseloste.
        {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Tutkimusaineiston tietoja käsitellään ryhmittäin, ei yksilötasolla. Tuloksia ryhmitellään esim.
        sukupuolen, ikäryhmän ja asuinpaikan perustella ja niissä
        käsitellään ryhmien antamia keskimääräisiä vastauksia, 
        esim. kalastuksen kohdistumista rajatulle alueelle. 
        Julkaistavista tuloksista on mahdotonta jäljittää yksittäisten ihmisten tai yksittäisessä
        kohteissa liikkuvien ihmisten vastauksia.
        {% endblocktrans %}
    </p>
    </td>
    <td/>
</tr>
{% endblock privacy_protection %}
{% block registry %}
<tr>
    <td>
        <h2>
            <a name="re">
                {% trans 'Rekisteriseloste' %}
            </a>
        </h2>
        </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% trans 'Tutkimuksen rekisteriseloste' %}
        <a href="">{% trans '(pdf-tiedosto).' %}</a>
    </p>
    </td>
</tr>
{% endblock registry %}


