{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Suhde alueeseen' %}</h1>
    <p>
        <b>
            {% blocktrans %}
                Voit piilottaa ja näyttää eri karttatasoja painamalla karttatasot-ikkunassa näkyvää
                alaspäin nuolta ja valitsemalla haluamasi karttatasot. Karttatasot-ikkuna piilotetaan
                painamalla nuolta ylöspäin.
            {% endblocktrans %}
        </b>
    </p>
    <hr />
    <form id="relationsForm" name="relationsForm" >
        <table>
            <tr>
                <td colspan="3">
                    {% trans 'Kuinka hyvin tunnet kartalle rajatun alueen?' %}
                </td>
            </tr>
            <tr>
                <td class="smallvalue value">
                    <b>{% trans 'En lainkaan' %}</b>
                </td>
                <td class="bigSlider">
                    <input type="range" name="knowledge_of_area" />
                </td>
                <td class="bigvalue value">
                    <b>{% trans 'erittäin hyvin' %}</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="checkbox" name="knowledge_DK" />
                    {% trans 'en osaa sanoa' %}
                </td>
            </tr>
            </table>
            <table>
            <tr>
                <td><b>{% trans 'Suhteesi kartalle rajattuun alueeseen' %}:</b></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="relations_area" value="home_in_area" id="home_in_area"/>
                    <label for="home_in_area">{% trans 'Kotini sijaitsee kartalle rajatulla alueella' %}</label><br />
                    <input type="checkbox" name="relations_area" value="home_in_near_area" id="home_in_near_area"/>
                    <label for="home_in_near_area">{% trans 'Kotini sijaitsee kartalle rajatun alueen lähellä' %}</label><br />
                    <input type="checkbox" name="relations_area" value="holiday_home_in_area" id="holiday_home_in_area"/>
                    <label for="">{% trans 'Loma-asuntoni sijaitsee kartalle rajatulla alueella' %}</label><br />
                    <input type="checkbox" name="relations_area" value="holiday_home_in_near_area" id="holiday_home_in_near_area"/>
                    <label for="holiday_home_in_area">{% trans 'Loma-asuntoni sijaitsee kartalle rajatun alueen lähellä' %}</label><br />
                    <input type="checkbox" name="relations_area" value="free_time_traveller" id="free_time_traveller"/>
                    <label for="free_time_traveller">{% trans 'Vapaa-ajan matkailija' %}</label><br />
                    <input type="checkbox" name="relations_area" value="work_in_area" id="work_in_area"/>
                    <label for="work_in_area">{% trans 'Työni liittyy kartalle rajattuun alueeseen' %}</label><br />
                    <input type="checkbox" name="relations_area" value="first_time" id="first_time"/>
                    <label for="first_time">{% trans 'Olen alueella ensimmäistä kertaa' %}</label><br />
                    <input type="checkbox" name="relations_area" value="otherRelation" id="otherRelation"/>
                    <label for="otherRelation">{% trans 'Muu' %} </label>
                </td>
            </tr>
            <tr id="otherRelations_areaRow" class="tyhja">
                <td>
                    <label for="otherRelation_text">{% trans 'mikä?' %}</label>
                    <input type="text" id="otherRelation_text" name="otherRelation_text" disabled="true"/>
                </td>
            </tr>
            <tr>
                <td><label for="work_area">{% trans 'Jos työsi liittyy kartalle rajattuun alueeseen, niin miten?' %}:</label></td>
            </tr>
            <tr>
                <td>
                    <select id="work_area" name="work_area">
                        <option value="NULL" selected="selected"></option>
                        <option value="tourism">{% trans 'Matkailuelinkeino' %}</option>
                        <option value="agriculture_or_forestry">{% trans 'Maa- tai metsätalous' %}</option>
                        <option value="environmental_care">{% trans 'Ympäristön suunnittelu tai hoito' %}</option>
                        <option value="otherWork">{% trans 'Muu' %} </option>
                    </select>
                </td>
            </tr>
            <tr id="otherWork_areaRow" class="tyhja">
                <td>
                    <label for="otherWork_area">{% trans 'mikä?' %}</label>
                    <input type="text" id="otherWork_area" name="otherWork_area" disabled="disabled"/>
                </td>
            </tr>
        </table>

    </form>
{% endblock formarea %}