{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h2>
       {% trans 'Suuret kiitokset vaivannäöstäsi' %}!
    </h2>
    <p>
       {% trans 'Kaikki vastauksesi on tallennettu' %}.
       {% trans 'Voit halutessasi palata katsomaan tai muokkaamaan vastauksiasi yläpalkin tai edellinen -painikkeen kautta' %}.
    </p>
    <p>
        {% trans 'Voit poistua kyselystä painamalla "Poistu kyselystä" -nappia.' %}
        {% trans 'Tämän jälkeen et voi enää enää palata muuttamaan tai katsomaan vastauksiasi' %}
    </p>

    {% comment %}
    {% if user.is_authenticated %}
    <h2>
        {% trans 'Miltä minun karttani näyttää' %}?
    </h2>
    <p>
        {% trans 'Jatka vielä eteenpäin, ja katso, miltä näyttää Sinun Karttasi' %}.
        {% trans 'Seuraavassa näkymässä on näkyvillä kaikki tekemäsi paikannukset ja voit halutessasi tulostaa oman karttasi' %}.
     </p>
     {% endif %}
    {% endcomment %}
<form id="contactForm" name="contactForm" class="no_submit">
    <p>
        {% trans 'Kaikki vastanneet voivat osallistua arvotaan täyttämällä yhteystietonsa!' %}
    </p>
    <p>
        <b>{% trans 'Arvonta suoritetaan 20.3.2013.' %} </b>
    </p>
    <p>
        {% trans 'Palkintoina on lahjakortteja Hotelli Paljakkaan (1 kpl), Hotelli Gasthallaan (2 kpl) sekä Ukkohallan kylpylä-saunamaailmaan (1 kpl).' %}
    </p>
    <table class="infotable">
        <tr>
            <td>{% trans 'Nimi' %}:</td>
            <td>
            <input type="text" name="name" id="name" />
            </td>
        </tr>
        <tr>
            <td>{% trans 'Puhelinnumero' %}:</td>
            <td>
            <input type="text" name="phonenumber" id="phonenumber" />
            </td>
        </tr>
        <tr>
            <td>{% trans 'Sähköpostiosoite' %}:</td>
            <td>
            <input type="email" name="email" id="email" />
            </td>
        </tr>
    </table>
    <div class="lottery_logos"><div id="gasthalla"></div><div id="paljakka"></div><div id="ukkohalla"></div></div>

</form>
{% endblock formarea %}
{% block buttonarea %}
    <div class="previous">
        <span class="buttontext">{% trans 'Edellinen' %}</span>
    </div>
    <div class="extrabutton close">
        <span class="buttontext" id='exit'>{% trans 'Poistu kyselystä' %}</span>
    </div>
    {% comment %}
    {% if user.is_authenticated %}
        <div id="finnished" class="next finnished">
            <span class="buttontext">
                {% trans 'Oma kartta' %}
            </span>
        </div>
    {% endif %}
    {% endcomment %}
{% endblock buttonarea %}
