{% extends 'bigContent.html' %}
{% load i18n %}
{% block formarea %}
    <h1>{% trans 'Kehittämisehdotukset' %}</h1>
    <p>
        <b>
            {% blocktrans %}
                Voit merkitä kartalle kohennettavia tai poistettavia kohteita sekä ehdottaa uusia
                rakennuksia, kevyen liikenteen reittejä tai joukkoliikenneyhteyksiä. Valitse ensin
                ehdotuksen aihe ja merkitse ehdotus kartalle. Voit merkitä kolme jokaista aihetta.
            {% endblocktrans %}
        </b>
    </p>
    <table>
        <tr id="miniHelp" onclick="toggleHelp();">
            <td id="expandButton" class="closedhelp"/>
            <td>{% trans 'Etsitkö ohjetta...' %}</td>
        </tr>
    </table>
    <ul class="instructionlinks" style="display: none;">
        <li>
            <a href="{% url main_html file_name='instructions' %}#kali" onclick="window.open('{% url main_html file_name='instructions' %}#kali'); return false;">{% trans 'miten kartalla liikutaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'kuinka merkitä kohde kartalle' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}#kosimutapo" onclick="window.open('{% url main_html file_name='instructions' %}#kosimutapo'); return false;">{% trans 'miten korjataan kohde, joka meni väärään paikkaan?' %}</a>
        </li>
        <li>
            <a href="{% url main_html file_name='instructions' %}" onclick="window.open('{% url main_html file_name='instructions' %}'); return false;">{% trans 'Näytä kaikki ohjeet' %}</a>
        </li>
    </ul>
    <hr />
    <form id="improvementsForm" name="improvementsForm">
        <button type="button" class="drawbutton point big improve_point_area" id="improve_point_area" name="improvement">{% trans 'tulisi kohentaa' %}</button>
        <button type="button" class="drawbutton point big remove_object" id="remove_object" name="improvement">{% trans 'tulisi poistaa' %}</button>
        <button type="button" class="drawbutton point big new_building" id="new_building" name="improvement">{% trans 'uusi rakennus' %}</button>
        <button type="button" class="drawbutton route big two-line new_improve_route" id="new_improve_route" name="improvement">{% trans 'uusi jalankulku- tai pyöräreitti' %}</button>
        <button type="button" class="drawbutton route big two-line new_transport_route" id="new_transport_route_mob" name="improvement">{% trans 'uusi joukkoliikenneyhteys' %}</button>
    </form>
{% endblock formarea %}