{% extends 'html/instructions_base.html' %}
{% load i18n %}
{% block answering_links %}
<h3 style="margin-bottom: -20px;">
<strong>{% trans 'Kyselyyn vastaaminen' %}</strong>
</h3>
<ul>
    <li>
        <a href="#et">{% trans 'eteneminen' %}</a>
    </li>
</ul>
{% endblock answering_links %}
{% block drawing_links %}
<h3 style="margin-bottom: -20px;">
<strong>{% trans 'Kohteiden merkitseminen kartalle' %}</strong>
</h3>
<ul>
    <li>
        <a href="#kotamupime">{% trans 'kodin tai muun pisteen merkitseminen' %}</a>
    </li>
    <li>
        <a href="#repika">{% trans 'reitin piirtäminen kartalle' %}</a>
    </li>
    <li>
        <a href="#kosimutapo">{% trans 'kohteen siirtäminen, muuttaminen tai poistaminen' %}</a>
    </li>
</ul>
{% endblock drawing_links %}
{% block answering %}
<tr>
    <td>
    <h2>
    <a name="et">{% trans 'Kyselyssä eteneminen' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% blocktrans %}
        Siirry seuraavaan kysymykseen
        <strong>Seuraava</strong>-painikkeella. Voit siirtyä takaisinpäin
        kyselyssä korjaamaan jo antamiasi vastauksia
        <strong>Edellinen</strong>-painikkeella tai yläpalkin navigaatiopalkin kautta.
        {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Kun pääset kyselyn loppuun, etkä enää halua muuttaa vastauksiasi, voit poistua kyselystä
        sulkemalla selaimen.
        {% endblocktrans %}
    </p>
    </td>
    <td>
    <img src="{{ STATIC_URL }}img/help/prev_next.png" alt="jatka- ja edellinen-painikkeet" width="207" height="60" />
    </td>
</tr>
{% endblock answering %}

{% block hide_marks %}
{% endblock hide_marks %}

{% block locating %}
    <tr>
        <td colspan="2">
        <p class="">
            {% blocktrans %}
            Kyselyssä merkitään kartalle pisteitä tai viivoja (reittejä). Toimintopainikkeen kuvake
            kertoo, minkälainen kohde on tarkoitus paikantaa.
            Esimerkiksi koti merkitään kartalle pisteenä ja kulkureitit piirretään viivoina.
            {% endblocktrans %}
        </p>
        <p class="observe">
            <img src="{{ STATIC_URL }}img/help/koti_tyokalu.png" alt="Koti" width="265" height="53" />
            <br />
            <img src="{{ STATIC_URL }}img/help/tarkeaReitti_tyokalu.png" alt="Reitti" width="265" height="53" />
            <br />
            {% trans 'Kuva yllä: Esimerkit piste- ja viivatyökaluista.' %}
        </p>
        </td>
    </tr>
{% endblock locating %}
{% block point_drawing %}
<tr>
    <td>
    <h2>
    <a name="kotamupime">{% trans 'Pistemäisen kohteen merkitseminen kartalle' %}</a>
    </h2>
    </td>
    <td/>
</tr>
    <tr>
        <td>
        <p class="">
            {% trans 'Pistemäisiä kohteita ovat esimerkiksi koti, kesämökki ja asiointipaikka.' %}
        </p>
        <p class="">
            <strong>{% trans 'Esimerkki pisteen merkitsemisestä kartalle:' %}</strong>
        </p>
        <ol>
            <li>
                {% trans 'Etsi aluksi kartalta kohteen sijainti.' %}
            </li>
            <li>
                <strong>{% trans 'Valitse piste-työkalu' %}</strong> {% trans 'klikkaamalla sitä hiirellä.' %}
                <br />
                <img src="{{ STATIC_URL }}img/help/koti_tyokalu.png" alt="Koti" width="265" height="53" />
                <br />
                {% trans 'Klikatessasi piste-työkalu aktivoituu ja sen ulkoasu muuttuu:' %}
                <br />
                <img src="{{ STATIC_URL }}img/help/koti_tyokalu_aktivoitu.png" alt="Koti valittuna" width="265" height="53" />
            </li>
            <li>
                <strong>{% trans 'Klikkaa karttaa valitsemallasi kohdalla.' %}</strong> {% trans 'Piste sijoitetaan osoittamaasi kohtaan.' %}
            </li>
            <li>
                {% blocktrans %}
                    Näyttöön avautuu kyselyikkuna. Vastaa kyselyyn valitsemalla yksi vaihtoehto kunkin
                    kysymyksen alla esitetyistä vaihtoehdoista. Kyselyikkunan oikealla laidalla on
                    vierityspalkki, jota siirtämällä pääset ikkunassa alaspäin. Voit kertoa
                    lisätietoja kohteesta kirjoittamalla kyselyikkunan sisällä olevaan ruutuun:
                    Kerro lisää tästä paikasta.
                {% endblocktrans %}
                {% blocktrans %}
                <strong>Vahvista vastauksesi </strong> klikkaamalla painiketta
                "tallenna kohde".
                Mikäli piste meni väärään paikkaan, voit poistaa sen klikkaamalla "poista kohde".
                {% endblocktrans %}
            </li>
        </ol>
        </td>
        <td/>
    </tr>
{% endblock point_drawing %}
{% block area_drawing %}

{% endblock area_drawing %}
{% block researchers %}
<tr>
    <td>
    <h2>
    <a name="kytojatu">{% trans 'Kyselyn toteuttaja ja tutkijat' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p>
        {% blocktrans %}
        Tutkimus on osa Urbaani Arki -tutkimushanketta. Aalto-yliopiston Yhdyskuntasuunnittelun
        tutkimus- ja koulutuskeskuksen ja Tampereen teknillisen yliopiston yhteistyökumppanina tutkimuksessa
        on mm. Tampereen kaupunki. Tutkijoina toimivat
        <a href="mailto:marketta.kytta@aalto.fi">FT Marketta Kyttä</a>,
        <a href="mailto:kaisa.schmidt-thome@aalto.fi">FL Kaisa Schmidt-Thomé</a> ja
        <a href="mailto:hanna.kalenoja@tut.fi">TkL Hanna Kalenoja</a>.
        {% endblocktrans %}
    </p>
    <p >
        {% blocktrans %}
        Urbaani Arki -hankkeessa tutkitaan asukkaiden arkiliikkumista ja arjen palvelujen käyttöä
        paikkalähtöisesti tunnistaen samalla elinympäristön käytön suhteen erilaisia asukasprofiileja.
        Arjen sujumisen kannalta on tärkeää, missä asukkaalle keskeiset arkiverkon paikat sijaitsevat ja
        miten niiden välillä liikutaan.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        Aalto-yliopiston Yhdyskuntasuunnittelun tutkimus- ja koulutuskeskuksen ja Tampereen teknillisen yliopiston
        tiedonhallinnan ja logistiikan laitoksen yhteishankkeessa tutkitaan eri asukasryhmiä yhteensä kahdeksan kaupungin
        alueella. Hanketta rahoittavat Tekes ja kaupungit, sekä yrityskumppaneina Ruokakesko, FCG Planeko, Citycon,
        Fifth Element ja ESRI Finland. Valtionhallintoa hankkeessa edustavat Ympäristöministeriö ja Kaupunkipolitiikan
        yhteistyöryhmä (Työ- ja elinkeinoministeriö).
        {% endblocktrans %}
    </p>
    </td>
    <td/>
</tr>
{% endblock researchers %}

{% block prizes %}
<tr>
    <td>
    <h2>
    <a name="palkinnot">{% trans 'Arvonnan palkinnot' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% trans 'Kaikkien tutkimukseen osallistuneiden ja yhteystietonsa antaneiden kesken arvotaan' %}:
        <ul>
            <li>
                {% trans 'viisi 40 euron lahjakorttia Tampereen joukkoliikenteeseen' %}
            </li>
            <li>
                {% trans 'viisi paria elokuvalippuja (vapaavalintaiseen Finnkinon elokuvaan)' %}
            </li>
        </ul>
    </p>
    </td>
</tr>
{% endblock prizes %}


{% block privacy_protection %}
<tr>
    <td>
    <h2>
    <a name="ti">{% trans 'Tietosuoja' %}</a>
    </h2>
    </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% blocktrans %}
        Tampereen pehmoGIS-kysely toimii Aalto-Yliopiston suojatulla palvelimella, ja kyselystä
        koostuvaan tietokantaan on pääsy vain
        tutkimushankkeessa työskentelevillä henkilöillä. Sovellus ei ole yhteydessä Tampereen kaupungin
        tietojärjestelmiin.
        {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Tutkimuksessa ei käsitellä henkilötietolain piiriin kuuluvia tietoja (kuten osoitteita, nimiä
        tai henkilötunnuksia). Tutkimuksesta on kuitenkin laadittu
        Tietosuojavaltuutetun ohjeiden mukainen tieteellisen tutkimuksen rekisteriseloste.
        {% endblocktrans %}
    </p>
    <p class="">
        {% blocktrans %}
        Tutkimusaineiston tietoja käsitellään ryhmittäin, ei yksilötasolla. Tuloksia ryhmitellään esim.
        sukupuolen, ikäryhmän ja asuinpaikan perustella ja niissä
        käsitellään ryhmien antamia keskimääräisiä vastauksia, kuten keskimääräistä matkaa tärkeisiin
        paikkoihin tai kulkutapoja töihin.
        Julkaistavista tuloksista on mahdotonta jäljittää yksittäisten ihmisten tai yksittäisessä
        rakennuksessa asuvien ihmisten vastauksia.
        {% endblocktrans %}
    </p>
    </td>
    <td/>
</tr>
{% endblock privacy_protection %}
{% block registry %}
<tr>
    <td>
        <h2>
            <a name="re">
                {% trans 'Rekisteriseloste' %}
            </a>
        </h2>
        </td>
    <td/>
</tr>
<tr>
    <td>
    <p class="">
        {% trans 'Tutkimuksen rekisteriseloste' %}
        <a href="{{ STATIC_URL }}Rekisteriseloste_UrbaaniArki_Tre.pdf">({% trans 'pdf-tiedosto' %}).</a>
    </p>
    </td>
</tr>
{% endblock registry %}


            