{% extends 'mobility/html/move_env_info.html' %}
{% load i18n %}
{% block what_kind_place %}
{% spaceless %}
    <tr>
        <td><b>{% endspaceless %}{% trans 'Minkätyyppinen tämä ostospaikka on?' %}{% spaceless %}</b></td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_1' value='grocery' />
            <label for='me1_1'>{% trans 'lähikauppa' %}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_2' value='supermarket' />
            <label for='me1_2'>{% trans 'super- tai hypermarket' %}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_3' value='shoppingcentre' />
            <label for='me1_3'>{% trans 'kauppakeskus tai tavaratalo' %}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me1_4' value='specialshop' />
            <label for='me1_4'>{% trans 'erikoiskauppa' %}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' name='whattype' id='me_other' value='other' />
            <label for='me_other'>{% trans 'muu' %}</label>
            <span id='otherSpan' class='tyhja'>
                <label for='other_text'>, {% trans 'mikä' %}?</label>
                <input type='text' name='othershop' id='other_text' disabled='disabled' />
            </span>
        </td>
    </tr>
{% endspaceless %}
{% endblock what_kind_place %}
{% block free_text %}
{% spaceless %}
    <td><b>{% trans 'Miksi käyt ostoksilla juuri täällä?' %}</b></td>
{% endspaceless %}
{% endblock free_text %}
