{% load i18n %}
{% block form %}
{% spaceless %}
<form name="popupform" action="#" >
<table class='infotable'>
    <tr>
        <td><b>{% trans 'Miten yleensä liikut tällä reitillä?' %}</b></td>
    </tr>
    <tr>
        <td>
            <input type='radio' id='walk' name='mtransport' value='walk' />
            <label for='walk'>{% trans 'jalkaisin' %}</label>
    </td>
    </tr>
    <tr>
        <td>
            <input type='radio' id='bike' name='mtransport' value='bike' />
            <label for='bike'>{% trans 'pyöräillen' %}</label><br/>
        </td>
    </tr>
    <tr>
        <td>
            <input type='radio' id='runorjog' name='mtransport' value='runorjog' />
            <label for='runorjog'>{% trans 'juosten tai hölkäten' %}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type='radio' id='skate' name='mtransport' value='skate' />
            <label for='skate'>{% trans 'rullaluistimilla' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='radio' id='other' name='mtransport' value='other' />
            <label for='other'>{% trans 'muuten' %}</label>
            <span id='otherSpan' class='tyhja'>
                <label for='other_text'>, {% trans 'miten' %}?</label>
                <input type='text' name='transOther' id='other_text' disabled='disabled' />
            </span>
        </td>
    </tr>
    <tr>
        <td><b>{% trans 'Millainen reitti mielestäsi on' %}?</b></td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='safe' name='feelroute' value='safe' />
            <label for='safe'>{% trans 'turvallinen' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='unsafe' name='feelroute' value='unsafe' />
            <label for='unsafe'>{% trans 'turvaton' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='fast' name='feelroute' value='fast' />
            <label for='fast'>{% trans 'nopea' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='wellmanage' name='feelroute' value='wellmanage' />
            <label for='wellmanage'>{% trans 'hyvin hoidettu' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='badmanage' name='feelroute' value='badmanage' />
            <label for='badmanage'>{% trans 'huonosti hoidettu' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='pos_atmos' name='feelroute' value='pos_atmos' />
            <label for='pos_atmos'>{% trans 'tunnelmallinen' %}</label><br />
        </td>
    </tr>
    <tr>
        <td>
            <input type='checkbox' id='neg_atmos' name='feelroute' value='neg_atmos' />
            <label for='neg_atmos'>{% trans 'ankea' %}</label><br />
        </td>
    </tr>
    <tr>
        <td style='padding-top: 5px;'><b>{% trans 'Lisätietoja reitistä:' %}</b></td>
    </tr>
    <tr>
        <td>
            <textarea name='comments' id='comments' rows='2' cols='25'></textarea>
        </td>
    </tr>
</table>
</form>
{% endspaceless %}
{% endblock form %}
