{% load i18n %}
<div class="mainTextArea">
    <div class="firstpagepic">
        <!--#-->
    </div>
    <h2 class="firstpagecontent">{% trans 'What kind of things do you value in Pacific Beach?' %}?</h2>
    <p class="firstpagecontent">
        {% blocktrans %}
            This softGIS questionnaire collects data about the residents’ relationship with Pacific
            Beach. It also collects suggestions on how the area should be developed in the future.
            The results will be used as a basis for discussion among all those who are interested in
            improving the quality of life in PB.  By responding to this questionnaire you can inform
            the BeautifulPB-initiative and its partners about the issues that you feel are important
            in your neighbourhood and other parts of PB. 
        {% endblocktrans %}
    </p>
    <div class="mainpageBox firstpagecontent">
        {% url main_html file_name='instructions' as help_url%}
        {% blocktrans %}
            Kyselyyn vastaaminen vie aikaa noin 20 minuuttia. Toivomme, että vastaat jokaiseen kysymykseen. 
            Kysely etenee vaiheittain ja voit halutessasi korjata edellisillä sivuilla antamiasi tietoja.
            Antamasi tiedot tallentuvat automaattisesti. Jos tarvitset apua vastaamisessa tai haluat
            lisätietoja tutkimuksesta, niin klikkaa hiirellä
        {% endblocktrans %}
        <img src="{{ STATIC_URL }}img/blank.gif" class="welcomeHelp" alt="ohje" height="14" width="14" onclick="window.open('{{ help_url }}'); return false;"/>{% trans '-merkkiä.' %}
    </div>
    <div class="mainpageBoxBottom firstpagecontent">
        <!--#-->
    </div>
<!--    <p class="centeredtext firstpagecontent" style="text-align: center;">
        Osallistu kyselyyn:
    </p>
-->
    <div class="next buttonstart firstpagecontent">
        <p class="buttontext firstpagecontent">
            {% trans 'Aloita' %}
        </p>
    </div>
    <p class="centeredtext firstpagecontent firstpagebutton">
        {% trans 'Jos haluat tutustua kyselyyn osallistumatta tutkimukseen' %},<br />
        <a class="testUserLink firstpagebutton" onclick="startAsTestUser();">{% trans 'paina tästä' %}</a>
    </p>
<!--        <br />
    </p>
    <p class="centeredtext firstpagecontent firstpagebutton" style="text-align: center;">
        <a class="testUserLink firstpagebutton next" onclick="startAsTestUser();">{% trans 'paina tästä' %}</a>
    /p>-->
</div>
<div class="mainBottom firstpagecontent">
    {% blocktrans %}
        The survey is carried out as a cooperation of Aalto University (Helsinki, Finland) and the
        BeautifulPB-initiative. Aalto University has been developing the softGIS-method since 2005
        in cooperation with Finnish cities interested in participatory urban planning. Recently it
        carried out a project with Japan and Australia, and this survey is the first time that the
        softGIS is tested in the US. The results of the survey will be utilized by the BeautifulPB
        and other interested parties to better understand how PB residents use the area and how they
        would like to see it developing in the future. The results may also be used by the Finnish
        research team to analyse the perceived environmental quality and everyday mobility issues.
        Marketta Kyttä and Kaisa Schmidt-Thomé (kaisa.schmidt-thome(at)aalto.fi) from Aalto University are
        in charge of the research. The contact persons of the Beautiful PB for the survey are Kristen
        Victor (kristen(at)sustainabilitymatters.us) and Sara Berns (sara(at)pacificbeach.org).
    {% endblocktrans %}
        <a href="{% url main_html file_name='instructions' %}#kytojatu" onclick="window.open(this.href); return false;">{% trans 'Lisätietoa tutkimuksesta' %}</a>.
    
</div>